
<div>
  <p> <%= link_to "Add a New Place", "/places/new" %> </p>
  <ul>
    <% @places.each do |place| %>
      <li>
        <p>
          <%= link_to place.title, "/places/#{place.title}" , width: "100" %>  &nbsp;  <%= link_to "Delete", "/places/#{place.title}/delete"%>
        </p>
      </li>
    <% end %>
  </ul>
</div>
